<section>
  <div class="container">
    <header class="header">
      <a class="logo" target="_blank" href="/" rel="noreferrer">
        Currency Converter
      </a>

      <ul>
        <li>USD: {{ exchange(1, "USD", "UAH") | number: "1.2-3" }} грн</li>
        <li>EUR: {{ exchange(1, "EUR", "UAH") | number: "1.2-3" }} грн</li>
      </ul>

      <a
        class="dev"
        target="_blank"
        href="https://tvido.github.io/viter-cv/"
        rel="noreferrer"
      >
        Click me
      </a>
    </header>

    <div class="content">
      <input
        [(ngModel)]="amountFrom"
        (input)="onChangeValue($event)"
        name="amountFrom"
        class="input"
        type="number"
      />

      <select
        [(ngModel)]="currencyFrom"
        (change)="onChangeValue($event)"
        class="select"
        name="currencyFrom"
      >
        <option
          [selected]="item.key == 'UAH'"
          *ngFor="let item of currencyList | keyvalue"
        >
          {{ item.key }}
        </option>
      </select>

      <input
        [(ngModel)]="amountTo"
        (input)="onChangeValue($event)"
        name="amountTo"
        class="input"
        type="number"
      />

      <select
        [(ngModel)]="currencyTo"
        (change)="onChangeValue($event)"
        class="select"
        name="currencyTo"
      >
        <option
          [selected]="item.key == 'USD'"
          *ngFor="let item of currencyList | keyvalue"
        >
          {{ item.key }}
        </option>
      </select>
    </div>
  </div>
</section>
